<% include header %>
<main role="main">

  <!-- For popup modul -->
  <link rel="stylesheet" type="text/css" media="screen" href="/popupwindow.css" />

  <!-- Title section -->
  <section class="jumbotron text-center">
    <div class="container">
      <h1 class="jumbotron-heading">
        <font color="blue">Graph Viewer</font>
      </h1>
    </div>
  </section>


  <!-- Cardviews -->
  <div class="album py-5 bg-light">
    <div class="container">
      <div class="row">

        <% objectRepository.graphModel.forEach(function(valami){ %>
        <div class="col-md-12">
          <div class="card mb-4 shadow-sm">
            <div class="card-body">
              <p class="card-title">
                <%= valami.name %>
              </p>
              <p class="card-text">
                <%= valami.desc %>
              </p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <a class="btn btn-sm btn-outline-secondary" href=<%= "graphs/" + valami.id + "/details" %> id="btn_details">View</a>
                  <a class="btn btn-sm btn-outline-secondary" href=<%= "graphs/" + valami.id + "/edit" %> id="btn_edit">Edit</a>
                  <a class="btn btn-sm btn-outline-secondary" onclick="showPopup()">Delete</a>
                </div>
                <small class="text-muted">Created on :
                  <%= valami.created %> </small>
              </div>
            </div>
          </div>
        </div>
        <% }) %>
      </div>
    </div>

    <div class="text-center">
      <a id="btn_newgraph" href="/graphs/new" class="btn btn-lg btn-primary">New graph</a>
    </div>

  </div>


  <!--POPUP-->
  <div id="modal1" class="modal">
    <div class="modal-content">
      <span class="close">&times;</span>
      <p>Are you sure about that ?</p>
      <div class="btn-group">
        <button type="button" class="btn btn-sm btn-outline-secondary" id="popup_ok_btn">OK</button>
        <button type="button" class="btn btn-sm btn-outline-secondary" id="popup_cancel_btn">Cancel</button>
      </div>
    </div>
  </div>

  <script>
    var modal = document.getElementById('modal1');
    var span = document.getElementsByClassName("close")[0];

    function showPopup() {
      modal.style.display = "block";
    }

    span.onclick = function () {
      modal.style.display = "none";
    }
    popup_ok_btn.onclick = function () {
      modal.style.display = "none";
    }
    popup_cancel_btn.onclick = function () {
      modal.style.display = "none";
    }
  </script>
</main>
<% include footer %>